@use '../../styles/variables/colors' as colors;

.input {
	position: relative;

	&__field {
		font-size: 1.25rem;
		border: 1px solid colors.$dark;
		width: 100%;

		&--error {
			border-color: colors.$red;
		}

		&--valid {
			border-color: colors.$seaGreen;
		}

		&--blurred {
			
		}
	}

	&__errormsg {
		position: absolute;
		color: colors.$red;
	}



	
}