
.loadingSpinner {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 10;

	&__spinner {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: 20vh;
		width: 20vh;
		border-radius: 50%;
		border: 3px solid transparent;
		border-bottom-color: white;
		animation: loadingspinner 0.6s linear infinite;
	}
}

@keyframes loadingspinner {
	from {
		transform: translate(-50%, -50%) rotate(0deg);
	}
	to {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}