
$ashGrey: #CBD4C2;
$teaGreen: #DBEBC0;
$khakiWeb: #C3B299;
$tuscanRed: #815355;
$darkByzanteum: #523249;


$black: #010101;


$yellow: #FFBA49;
$seaGreen:#20A39E;
$red:#EF5B5B;
$dark:#23001E;
$silver:#A4A9AD;
$white: white;