@use '../../styles/variables/colors' as colors;
@use '../../styles/mixins/mixins' as mixins;
@use '../../styles/mixins/breakpoints' as breakpoints;

.candidate {
	background: colors.$red;
	height: 6rem;
	margin-left: 2rem;
	position: relative;
	margin-top: 2rem;
	padding-left: 4rem;
	box-shadow: 10px 10px 10px rgba(0,0,0,0.3);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;

	@include breakpoints.min-width('small') {
		padding-left: 5rem;
		height: 5rem;
	}

	&--progress1 {
		background: lighten(colors.$red, 12%);
	}
	&--progress2 {
		background: lighten(colors.$red, 9%);
	}
	&--progress3 {
		background: lighten(colors.$red, 6%);
	}
	&--progress4 {
		background: lighten(colors.$red, 3%);
	}
	&--progress5 {
		background: lighten(colors.$red, 0);
	}

	&:after {
		content: '';
		display: block;
		position: absolute;
		height: 100%;
		width: 2rem;
		left: -2rem;
		bottom: 0;
		transform-origin: bottom right;
		transform: skewY(27deg);
		background: darken(colors.$red, 5%);
		z-index: -1;
	}

	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 1rem;
		width: 2rem;
		left: 2rem;
		top: -1rem;
		transform-origin: bottom right;
		transform: skewX(44deg);
		background: darken(colors.$red, 5%);
		z-index: -1;
	}

	&__initial {
		background: colors.$white; 
		color: colors.$red;
		font-size: 2rem;
		font-weight: bold;
		height: 100%;
		width: 5rem;
		position: absolute;
		left: -2rem;
		top: -1rem;
		text-align: center;
		box-shadow: 10px 10px 10px rgba(0,0,0,0.3);

		@include mixins.verticalMiddle;

		span {
			vertical-align: middle;
		}

		&__progress {
			font-size: 0.75rem;
			font-weight: normal;
			position: absolute;
			bottom: 0.75rem;
			left:0;
			width: 100%;
			text-align: center;

			@include breakpoints.min-width('small') {
				display: none;
			}
		}
	}

	&__property {
		padding: 0.5rem;
		color: colors.$white;

		&--progress {
			display: none;

			@include breakpoints.min-width('small') {
				display: block;
			}
		}
	}

	&__name {
		color: colors.$white;
		font-size: 1.5rem;
		font-weight: bold;
		display: flex;
		flex-direction: column;	

		@include breakpoints.min-width('small') {
			font-size: 2rem;
		}
	}

	&__email, &__address {
		color: colors.$white;
		font-size: 1rem;
		font-weight: normal;
	}

	&__icon {
		&--cctv {
			font-size: 1.5rem;
			vertical-align: middle;
			margin-right: 0.5rem
		}
	}
}